langchain
langchain-community
langchain-openai
streamlit
unstructured
unstructured[pdf]
PyPDF2
openai
tiktoken
torch
transformers==4.33.0 
sentence_transformers==2.2.2 
pysqlite3-binary
chromadb==0.5.0
faiss-cpu
langchain_google_genai
pycryptodome
future
